* {
    font-family: "ROBOTO";
    box-sizing: border-box;
        
}

header {
    display: flex;
    justify-content: space-around;

}

header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;

}

header nav a {
    text-decoration: none;

    color: #000;
}

header nav a:hover {
    padding: 6px;
    background: #eeff00;
    color: #000;
}

#div_banner {
    height: 400px;

}

#img_banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@font-face {
    font-family: "ROBOTO";
    src: url(../Fontes/Roboto-Regular.ttf);
}

#section_lugares h2 {
    text-align: center;
    font-size: 2rem;
}


#div_lugares {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    /* margin-left: 5rem; */
    justify-content: center;
}

#div_lugares img {
    transition: transform 0.3s ease;
    border-radius: 10px;
}
 
#div_lugares img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#Informaçoes_gerais ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2rem;
}
.cor-laranja{
    color: orangered;
}
#sobre{
    
}
#Sobre h2{
    color: orangered ;
    
}
.centralizar{
    text-align: center;

}
.justificar{
    text-align: justify;
 
}
#Lugares-visitar{
    font-size: 1.5rem;
}
#Lugares-visitar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
   
    margin: 0 auto;

}
#Lugares-visitar a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    
}   
section:nth-of-type(n+2){
    margin-top: 10vh;
}
#Container{
    width: 80vw;
    margin: 0 auto;
}
#Punta-Cana img{
   
}
#Punta-Cana p{
    width: 100%;

}
#Punta-Cana Div{
    display: flex;
    width: 80%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
}
#Aruba img{
      width: 75vw;
    height: 75vh;
    margin: 2.5vw;
    border-radius: 20px;
}
#Aruba{
    display: flex;
    width: 85%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
    gap: 3vh  ;
}
#Jamaica img{
    width: 320vw;
    height: 75vh;
    border-radius: 20px;
    
    
  
}
#Jamaica Div{
    display: flex;
    width: 80%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
    
}
#Bahamas img{
      width: 65vw;
    height: 65vh;
    margin: 2.5vw;
    border-radius: 20px;
}
#Bahamas{
    display: flex;
    width: 85%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
    gap: 3vh  ;
}

#Saint img{
    width: 35vw;
    height: 70vh;
    border-radius: 20px;
    
    
  
}
#Saint Div{
    display: flex;
    width: 80%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
    
}
.Img{
     width: 75vw;
    height: 75vh;
    border-radius: 20px;
    
}