* {
    font-family: "ROBOTO";
    box-sizing: border-box;
        
}

header {
    display: flex;
    justify-content: space-around;

}

header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;

}

header nav a {
    text-decoration: none;

    color: #000;
}

header nav a:hover {
    padding: 6px;
    background: #eeff00;
    color: #000;
}

#div_banner {
    height: 400px;

}

#img_banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@font-face {
    font-family: "ROBOTO";
    src: url(../Fontes/Roboto-Regular.ttf);
}

#section_lugares h2 {
    text-align: center;
    font-size: 2rem;
}


#div_lugares {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    /* margin-left: 5rem; */
    justify-content: center;
}

#div_lugares img {
    transition: transform 0.3s ease;
    border-radius: 10px;
}
 
#div_lugares img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#Informaçoes_gerais ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2rem;
}
.cor-laranja{
    color: orangered;
}
#sobre{
    
}
#Sobre h2{
    color: orangered ;
    
}
.centralizar{
    text-align: center;
    align-items: center;

}
.justificar{
    text-align: justify;
 
}
#Lugares-visitar{
    font-size: 1.5rem;
}
#Lugares-visitar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
   
    margin: 0 auto;

}
#Lugares-visitar a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    
}   
section:nth-of-type(n+2){
    margin-top: 10vh;
}

#Container{
    width: 80vw;
    margin: 0 auto;
}
.lugar-detalhado{
    display: flex;
    width: 100%;
    margin-top: 2vh;
}

.i{
    width: 40%;
}

.texto-detalhado{
    width: 60%;
}

.img-detalhado img{
    
    object-fit: cover;
    border-radius: 15px;
    max-height: 60vh    ;
    width: 80vh;
    height: 80vh;
    
}
.img-detalhado2 img{
    
    object-fit: cover;
    border-radius: 15px;
    max-height: 60vh    ;
    width: 40vh;
    height: 40vh;
    
}

.img-justificar{
    margin-left: 15vh;
}
.espacamento-topo{
    margin-top: 8vh;
}
.arredondar{
    border-radius: 20px;
    overflow: hidden;
}
.margem-esquerda{
    margin-left: 5vh;
    
}
.margem-direita{
    margin-right: 5vh;
}
.Card{
    border: 2px dotted;
    padding: 15px 50px;
    border-radius: 10px;
    color: orange;
    width: 25vw;
    
}

#Informaçoes-extras{
    display: flex;
    gap: 5vw;
    justify-content: center;
  
}
#Informaçoes-extras h5{
    color: #000;
    font-size: 1rem;

}
#Informaçoes-extras h2{
    
    font-size: 2rem;

}
#Informaçoes-extras h3{
    font-size: 1.5rem;
}

#conheca-lugar h2{
    font-size: 2rem;
}
#conheca-lugar iframe{
    width:  75vw;
    height: 75vh;
}
#copy{
    background: #000;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
   
}
body{
    margin: 0;
    
}
#como-chegar h2{
    font-size: 2rem;
}
#como-chegar iframe{
    width: 75vw;
    height: 75vh;
}
.galeria-fotos {   
    width: 60vw;
    margin: auto;
}
#Categorias-caribe{
   
}
#Categorias-caribe div{
margin: auto;
   
}
